/* line 1, ../../scss/jpc.scss */
* {
  border-radius: 5px;
}

/* line 5, ../../scss/jpc.scss */
html {
  height: 100%;
}

/* line 10, ../../scss/jpc.scss */
body {
  background: #866;
  height: 100%;
  font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  text-transform: uppercase;
  clear: both;
}

/* line 18, ../../scss/jpc.scss */
#jpc {
  margin: 20px auto 50px;
  padding: 10px 30px;
  width: 1000px;
  height: 620px;
  background: -webkit-linear-gradient(bottom, #bfc2bc 0%, #ced2c9 50%);
  position: relative;
  box-shadow: 0px 0px 25px #111 inset, 0px 5px 5px #111;
  border: 2px solid #333;
  border-radius: 20px;
}

/* line 30, ../../scss/jpc.scss */
#left {
  float: left;
}

/* line 34, ../../scss/jpc.scss */
#logo {
  margin: 10px 25px;
  width: 370px;
}
/* line 38, ../../scss/jpc.scss */
#logo h1, #logo h2 {
  margin: 5px 0;
}
/* line 41, ../../scss/jpc.scss */
#logo h2 {
  font-weight: 400;
  font-size: 90%;
  letter-spacing: 4px;
  word-spacing: 7px;
  color: #555;
}

/* line 51, ../../scss/jpc.scss */
#jpc #logo h1 {
  background: url("/logo.png") no-repeat;
  width: 370px;
  height: 146px;
  text-indent: -9999px;
}

/* line 58, ../../scss/jpc.scss */
#mhd {
  width: 330px;
  box-shadow: 0px 1px 1px #222;
  position: absolute;
  top: 300px;
  left: 110px;
  -webkit-transform: rotate(350deg);
}

/* line 67, ../../scss/jpc.scss */
#sticker {
  display: inline;
  padding: 5px 20px;
  border-radius: 10px;
  background: #fff;
  text-align: center;
  background: #71ad1b;
  color: #d3d13c;
  position: absolute;
  top: 370px;
  left: 170px;
  box-shadow: 0px 1px 1px #222;
  -webkit-transform: rotate(2deg);
}

/* line 82, ../../scss/jpc.scss */
#bezel {
  background: -webkit-linear-gradient(bottom, #3c3c3c 0%, #5a5a5a 100%);
  padding: 15px;
  position: absolute;
  top: 25px;
  right: 25px;
}

/* line 90, ../../scss/jpc.scss */
#display {
  background: #bdc6b3;
  border: 2px solid #aaa;
  padding: 15px;
  border-top-color: #666;
  border-top-width: 3px;
  border-bottom-color: #bbb;
  box-shadow: 0px 0px 10px #888 inset;
}

/* line 100, ../../scss/jpc.scss */
#pitch {
  -webkit-appearance: none;
  background-image: -webkit-linear-gradient(bottom, #292829 0%, #424242 47%, #524f52 66%, #383838 68%);
  height: 5px;
  border: 1px solid #222;
  -webkit-transform: rotate(-90deg);
  width: 310px;
  position: absolute;
  left: -90px;
  bottom: 250px;
}

/* line 112, ../../scss/jpc.scss */
#pitch::-webkit-slider-thumb {
  -webkit-transform: rotate(-90deg);
  -webkit-appearance: none;
  background-image: -webkit-linear-gradient(bottom, #f2edf2 0%, #b8b8b8 24%, #cfcfcf 26%, #e6e6e6 45%, #9aa7da 46%, #9bb1de 52%, white 52%, #e6e6e6 77%, white 80%, #d4d4d4 97%, #d6d6d6 95%);
  width: 60px;
  height: 30px;
  border: 2px solid #999;
  border-bottom-color: #ddd;
  box-shadow: 0px -1px 1px black;
}

/* line 123, ../../scss/jpc.scss */
#params {
  text-transform: lowercase;
  color: #555;
}
/* line 127, ../../scss/jpc.scss */
#params fieldset {
  position: absolute;
  bottom: 100px;
  left: 145px;
  width: 245px;
  font-size: 90%;
  border-color: #dddddd input;
  border-color-margin: 0px 16px 2px;
  border-color--webkit-appearance: none;
  border-color-background: #300;
  border-color-height: 10px;
  border-color-width: 10px;
  border-color-border: 1px solid #222222;
}
/* line 144, ../../scss/jpc.scss */
#params fieldset input:checked {
  background-image: -webkit-radial-gradient(#ff6969 2%, red 12%, #3b1414 100%);
}

/* line 152, ../../scss/jpc.scss */
#pads {
  width: 790px;
  background: -webkit-linear-gradient(bottom, #506061 0%, #63777a 100%);
  padding: 15px;
  vertical-align: baseline;
  border-radius: 10px;
  position: absolute;
  right: 25px;
  bottom: 25px;
}
/* line 162, ../../scss/jpc.scss */
#pads button {
  background: -webkit-linear-gradient(bottom, #a6a6a6 0%, #bdbdbd 80%, #d1d1d1 96%);
  box-shadow: 0 0 3px #222;
  border: none;
  color: #444;
  text-shadow: 0 1px 2px #fff;
  font-size: 90%;
  text-align: right;
  display: inline-block;
}
/* line 173, ../../scss/jpc.scss */
#pads button.pad {
  height: 75px;
  width: 75px;
  margin: 10px;
  padding-top: 50px;
}
/* line 180, ../../scss/jpc.scss */
#pads button.bank {
  height: 40px;
  width: 40px;
  margin: 10px;
  padding-top: 15px;
  display: none;
}
/* line 188, ../../scss/jpc.scss */
#pads button.active {
  background: #ca8f8f;
}

/* line 194, ../../scss/jpc.scss */
.bank {
  display: none;
}

@-webkit-keyframes pad_hit {
  /* line 199, ../../scss/jpc.scss */
  0% {
    background: #f56b6b;
  }

  /* line 200, ../../scss/jpc.scss */
  100% {
    background: #ca8f8f;
  }
}

/* line 203, ../../scss/jpc.scss */
button.pressed {
  -webkit-animation: pad_hit 0.1s 1;
}

/* line 207, ../../scss/jpc.scss */
#transport {
  position: absolute;
  bottom: 25px;
  left: 30px;
}
/* line 212, ../../scss/jpc.scss */
#transport button {
  display: inline-block;
  padding: 10px 25px;
  margin: 0 5px;
  font-size: 90%;
  background: -webkit-linear-gradient(bottom, #8a8a8a 0%, #b8b8b8 100%);
  color: #444;
  box-shadow: 0 1px 2px #222222, 0 -1px 1px #666666;
  border-width: 1px;
  text-shadow: 0 1px 2px #fff;
}
/* line 224, ../../scss/jpc.scss */
#transport button:active {
  box-shadow: none;
  background: -webkit-linear-gradient(bottom, #a0a0a0 0%, #8a8a8a 100%);
  position: relative;
  top: 1px;
}

/* line 232, ../../scss/jpc.scss */
#sequencer {
  position: absolute;
}
